<div class="center jumbotron">
  <h1>Welcome to the Rails Couple Blog</h1>

  <h2>
  	This is the home page for The Rails Couple Blog.
  </h2>

  <%= link_to "Subscribe!", '#', class: "btn btn-lg btn-primary" %>
  <%= link_to "Contact Us", contact_path, class: "btn btn-lg btn-primary" %>
</div>

